<section class="section  {{ section.settings.class }}">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section>
  
  {% schema %}
  {
    "presets": [
      {
        "name": "Features",
        "category": "UV - Content"
      }
    ]
  }
  {% endschema %}