<header class="page-head">
<div class="page-head__content" style="background-image: url({{ 'uvusb-hero-images-scaled.jpg' | file_url }})">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h1 class="page-head__title">The best way to santize small things.</h1>
          <p class="page-head__desc">The uv-c light from this device can kill up to 99% of viruses and bacteria. </p>
          <a href="" class="btn btn--primary page-head__btn">buy now</a>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "presets": [
    {
      "name": "Hero",
      "category": "UV - Header"
    }
  ]
}
{% endschema %}