<section class="section  section--protect" style="background-image: url({{ 'uv-usb-bg.jpeg' | file_url }});">
  <div class="container">
    <div class="row">
      <div class="col-lg-6  col-md-4">&nbsp;</div>
      <div class="col-lg-6  col-md-8">
        <h2 class="u-h3">Protect the loved ones around you.</h2>
        <p>Currently, kids and senior citizens run the highest risk of getting sick. Whether you’re a parent or a caregiver you will feel confident that your loved ones are protected after using uvusb on the “secretly contaminated” parts of your home or office.  Avoid sickness and spreading germs around with your very own UVUSB.</p>
        <h2 class="u-h3">Scientifically proven UV-C light technology.</h2>
        <p>UV-C technology has been studied for decades on it’s effectiveness at killing bacteria, viruses and pathogens on all types of surfaces. From studies that show UV-C light killing up to 99% of bacteria on your toothbrush (yes, there is a LOT on there) to killing up to 99% on cuttings boards (not-so-fun fact: there’s more bacteria on your cutting board than there is on your toilet) UV-C has stayed consistent in one thing: it kills up to 99% of all bacteria, viruses and pathogens on any surface. Get to the root of the problem today with UVUSB.</p>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "presets": [
    {
      "name": "Split Content - Full",
      "category": "UV - Content"
    }
  ]
}
{% endschema %}