<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-6"></div>
    </div>
  </div>
</section>

{% schema %}
{
  "presets": [
    {
      "name": "Split Content - Full",
      "category": "UV - Content"
    }
  ]
}
{% endschema %}