.section {
  padding: {
    top: 90px;
    bottom: 90px;
  }

  @media(max-width: 768px) {
    padding: {
      top: 45px;
      bottom: 45px;
    }
  }

  &--protect {
    background-position: center left;
    background-size: contain;
    background-repeat: no-repeat;

    p {
      @media(max-width: 992px) {
        font-size: 14px;
      }
    }
  }

  &__heading {
    margin: {
      bottom: 75px;
    }
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    &--dec {
      position: relative;
      &:after {
        content: '';
        background-image: url(https://cdn.shopify.com/s/files/1/0281/7284/5133/files/bolt-seperator.png?v=1590524301);
        background-repeat: no-repeat;
        width: 122px;
        height: 20px;
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        top: calc(100% + 5px);
      }
    }
  }

  &__title--dec {
    + p {
      margin-top: 30px;
    }
  }
}